@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap');

body {
  background-color: #2f5496;
  align-items: center;
}

#root {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .logo {
    height: 8em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  .welcome-text {
    color: white;
    font-family: 'Gentium Plus', sans-serif;
  }

  h1 .welcome-text {
    font-size: 2em;
    margin-top: 1em;
  }

  h2 .welcome-text {
    font-size: 1.5em;
    margin-top: 1em;
  }

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }

  