@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap');

.h1{
    font-size: 3rem;
    font-family: 'Gentium Plus', sans-serif;
    font-style: normal;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 0rem;
    color: white;
}

.container{
    margin: 0;
    padding: 0;
}

.h2{
    font-size: 1rem;
    margin-top: 0rem;
    font-family: 'Gentium Plus', sans-serif;
    font-style: normal;
    color: white;
    margin-left: 2rem;
}

@media screen and (max-width: 768px) {
    .h1{
        font-size: 2rem;
        font-family: 'Gentium Plus', sans-serif;
    }

    .h2{
        font-size: 1rem;
    }
}

@media screen and (max-width: 485px) {
    .h1 br {
        display: none;
    }

    .h2{
        font-size: 1rem;
    }
}

@media screen and (max-width: 485px) {
    .h1 br {
        display: block;
    }
}

@media screen and (max-width: 405px) {
    .h1{
        font-size: 1.7rem;
    }
}