.table {
    min-width: 650;
}

.header {
    background-color: #2f5496;
    border: 2px solid white;
}

.table-historial {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
