[data-amplify-authenticator] {
    --amplify-components-authenticator-router-box-shadow: 0 0 16px var(--amplify-colors-overlay-10);
    --amplify-components-authenticator-router-border-width: 0;
    --amplify-components-authenticator-form-padding: var(--amplify-space-medium) var(--amplify-space-xl) var(--amplify-space-xl);
    /* Replace purple with your blue color */
    --amplify-components-button-primary-background-color: #2f5496;
    --amplify-components-fieldcontrol-focus-box-shadow: 0 0 0 2px #2f5496;
    --amplify-components-tabs-item-active-border-color: var(--amplify-colors-neutral-100);
    /* Update related elements */
    --amplify-components-tabs-item-color: var(--amplify-colors-neutral-80);
    --amplify-components-tabs-item-active-color: #2f5496;
    --amplify-components-button-link-color: var(--amplify-colors-neutral-80);
  }
  
.justify {
  text-align: justify;
}